---
layout: default
---
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            {{ content }}
        </div>
        <div class="col-md-4">
			<p>
			  <strong>Javascript Psp Emulator</strong> is an opensource psp emulator developed with a TDD
			  approach for web browsers made in
			</p>

			<p>
			  <a href="https://travis-ci.org/jspspemu/jspspemu" target="_blank"><img src="https://travis-ci.org/jspspemu/jspspemu.svg?branch=develop"></a>
			</p>

			<center><a href="http://jspspemu.com/" target="_blank" style="font:24px Arial;color:green;">Play online</a></center>

			<iframe name="facebook" id="facebook" src="http://www.facebook.com/plugins/likebox.php?id=119970341380341&amp;width=271&amp;connections=10&amp;stream=false&amp;header=false&amp;height=320" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:271px; height:320px;" allowtransparency="true"></iframe>

        </div>
    </div>
</div>
